$primary-color: #444;
$dark-color: rgba(44, 44, 46, 1);
$secondary-color: #a5ffc9;
$show-home-image: true;
$home-image: url(/dist/images/bg.jpg);
$opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-size: cover;
      background-attachment: fixed;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($dark-color, $opacity);
      z-index: -1;
    }
  }
}
