@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  @include background;
  color: set-text-color($dark-color);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($dark-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem 4rem 1rem 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
  // #bg-img {
  //   main {
  //     padding-bottom: 0;
  //   }
  // }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 25vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 3px $secondary-color;
    object-fit: cover;
    margin: auto;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  @for $i from 1 through 3 {
    .job-#{$i} {
      grid-area: job#{$i};
    }
  }

  .job {
    background: lighten($dark-color, 5);
    padding: 0.5em;
    border-bottom: $secondary-color 5px solid;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  .item {
    width: 300px;
    overflow: hidden;
    object-fit: cover;
  }
  img {
    width: 100%;
    max-height: 200px;
    border: 3px #fff solid;
    object-fit: cover;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  @include easeOut;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    max-width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      // padding: 0.5rem 1.5rem;
      @include anime;
      color: $secondary-color;
      span {
        color: set-text-color($dark-color);
      }
    }
  }
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($dark-color, 10);
  color: set-text-color($dark-color);
  height: 60px;
}
@import "mobile";
